@page "/about"

<h3>About HeartHealthPortal</h3>

<p>
    <strong>HeartHealthPortal</strong> is a health-focused application designed to assist in predicting heart disease risks.
    Using machine learning models hosted on <strong>Azure ML</strong>
</p>

<h4>Key Features:</h4>
<ul>
    <li>Uses an AI model trained on medical data</li>
    <li>Supports input for 11 key health indicators</li>
    <li>Provides a user-friendly interface for health risk assessment</li>
</ul>

<h4>How It Works:</h4>
<p>
    Enter your patients medical details in the form, and the AI model will analyze the data and provide an assessment
    of his heart disease risk
</p>

<h4>Why Use HeartHealthPortal?</h4>
<ul>
    <li>Accurate predictions powered by Azure Machine Learning</li>
    <li>Easy-to-use interface for quick risk assessments</li>
    <li>Completely free and secure</li>
</ul>
